<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.aaron-gustafson.twitter</string>

	<key>PathEnvironmentVariable</key>
	<string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>

	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash "/Library/Application Support/com.aaron-gustafson.twitter/cron.sh"</string>
	</array>

	<key>StartInterval</key>
	<integer>360</integer>

	<key>RunAtLoad</key>
	<true/>

	<key>StandardErrorPath</key>
	<string>/tmp/BackupFromTwitter.err</string>

	<key>StandardOutPath</key>
	<string>/tmp/BackupFromTwitter.out</string>
</dict>
</plist>