<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.aaron-gustafson.twitter</string>

	<key>PathEnvironmentVariable</key>
	<string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>

	<key>ProgramArguments</key>
	<array>
		<string>su - aarongu -c "/Library/Application\ Support/com.aaron-gustafson.twitter/cron.sh"</string>
	</array>

	<key>RunAtLoad</key>
	<false/>

	<key>StartCalendarInterval</key>
	<!--  Weekdays are 1 - 5; Sunday is 0 and 7   -->
	<array>
			<dict>
					<key>Weekday</key>
					<integer>1</integer>
					<key>Hour</key>
					<integer>2</integer>
					<key>Minute</key>
					<integer>10</integer>
			</dict>
			<dict>
					<key>Weekday</key>
					<integer>2</integer>
					<key>Hour</key>
					<integer>2</integer>
					<key>Minute</key>
					<integer>10</integer>
			</dict>
			<dict>
					<key>Weekday</key>
					<integer>3</integer>
					<key>Hour</key>
					<integer>2</integer>
					<key>Minute</key>
					<integer>10</integer>
			</dict>
			<dict>
					<key>Weekday</key>
					<integer>4</integer>
					<key>Hour</key>
					<integer>2</integer>
					<key>Minute</key>
					<integer>10</integer>
			</dict>
			<dict>
					<key>Weekday</key>
					<integer>5</integer>
					<key>Hour</key>
					<integer>2</integer>
					<key>Minute</key>
					<integer>10</integer>
			</dict>
	</array>

	<key>StandardErrorPath</key>
	<string>/tmp/BackupFromTwitter.err</string>

	<key>StandardOutPath</key>
	<string>/tmp/BackupFromTwitter.out</string>
</dict>
</plist>